<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ru' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #EEF8FF;
      }

      header {
        background-color: #856aff;
        color: white;
        padding: 16px;
        border-radius: 0 0 16px 16px;
        margin: 0 16px 16px 16px;
      }

      footer {
        background-color: black;
        color: white;
        padding: 16px;
        border-radius: 16px 16px 0 0;
        margin: 16px 16px 0 16px;
      }
    </style>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
      <div class="container-xxl">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="row justify-content-center w-100">
            <div class="col-12 col-xl-10 col-xxl-8 d-flex flex-wrap align-items-center justify-content-between">
              <a class="navbar-brand fw-semibold" href="{% link index.md %}"><img
                width="64"
                height="64"
                alt="dev praktika"
                src="https://github.com/user-attachments/assets/d4383bbd-c67b-41e9-bf6e-452a62b1d1ac"
              /></a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#siteNavbar"
                aria-controls="siteNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="siteNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a
                      class="nav-link{% if page.url contains 'about' %} active{% endif %}"
                      href="{% link approach.md %}"
                      {% if page.url contains 'approach' %}aria-current="page"{% endif %}
                      >Подход</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link{% if page.url contains 'about' %} active{% endif %}"
                      href="{% link educators/index.md %}"
                      {% if page.url contains 'educators' %}aria-current="page"{% endif %}
                      >Ведущие</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link{% if page.url contains 'about' %} active{% endif %}"
                      href="{% link workshops/index.md %}"
                      {% if page.url contains 'workshops' %}aria-current="page"{% endif %}
                      >Воркшопы</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link{% if page.url contains 'about' %} active{% endif %}"
                      href="{{ link schedule/index.md }}"
                      {% if page.url contains 'schedule' %}aria-current="page"{% endif %}
                      >Расписание</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link{% if page.url contains 'about' %} active{% endif %}"
                      href="{{ link archive/index.md }}"
                      {% if page.url contains 'archive' %}aria-current="page"{% endif %}
                      >Архив</a
                    >
                  </li>
                </ul>
                <div class="navbar-text small text-white ms-lg-3">
                  <a href="tel:+79999999999"><img src="https://github.com/user-attachments/assets/3293113e-a4e3-4c3b-9fa9-52d78198c197" width="19" height="19" alt="Телефон" /> +7 (999) 999-99-99</a>
                  <a href="https://max.ru/u/devpraktika"><img src="https://github.com/user-attachments/assets/8bdc9834-61e1-4720-b5fc-1837988a1adb" width="19" height="19" alt="Max" /></a>
                  <a href="https://t.me/devpraktika"><img src="https://github.com/user-attachments/assets/99b674a2-eb30-4d08-8422-c30c98b46d3d" width="19" height="19" alt="Telegram" /></a>
                  <a href="mailto:info@devpraktika.ru"><img src="https://github.com/user-attachments/assets/c9d2f276-defc-40fe-976d-32c8fcf83187" width="19" height="19" alt="E-mail" /> info@devpraktika.ru</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main class="flex-grow-1 overflow-auto">
      <div class="container-xxl">
        {{ content }}
      </div>
    </main>

    <footer>
      <div class="container-xxl">
        <div class="row justify-content-center w-100">
          <div class="col-12 col-xl-10 col-xxl-8 d-flex flex-wrap align-items-center justify-content-between">
            <a class="navbar-brand fw-semibold mb-0" href="{% link index.md %}"><img
              style="width: clamp(40px, 3vw, 64px); height: auto"
              width="64"
              height="64"
              alt="dev praktika"
              src="devpraktika-logo.png"
            /></a>
            <p class="mb-0 small">&copy; 2025-2026, dev praktika</p>
            <div class="navbar-text small text-white ms-lg-3">
              <a href="tel:+79999999999"><img src="phone.png" width="19" height="19" alt="Телефон" /> +7 (999) 999-99-99</a>
              <a href="https://max.ru/u/devpraktika"><img src="max.png" width="19" height="19" alt="Max" /></a>
              <a href="https://t.me/devpraktika"><img src="telegram.png" width="19" height="19" alt="Telegram" /></a>
              <a href="mailto:info@devpraktika.ru"><img src="e-mail.png" width="19" height="19" alt="E-mail" /> info@devpraktika.ru</a>
            </div>
      </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
