---
layout: default
---

{% assign workshop = site.workshops | where: "slug", page.workshop | first %}

<div class="row w-100">
  <div class="bg-white col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% if page.past %}
          <li class="breadcrumb-item"><a href="{% link archive/index.md %}">Архив</a></li>
        {% else %}
          <li class="breadcrumb-item"><a href="{% link schedule/index.md %}">Расписание</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ workshop.title }} {{ page.date | date: "%d.%m.%Y" }}</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row w-100">
  <div class="bg-white col-12">
    <h1>{{ workshop.title }} {{ page.date | date: "%d.%m.%Y" }}</h1>
    {{ page.content | markdownify }}
    {% if page.past %}
      <p class="fs-3 text-end">Оценка: {% if page.mark %}{{ page.mark }}{% else %}?{% endif %}</p>
    {% else %}
      <p class="fs-3 text-end">Цена: {{ page.price }}₽</p>
      <p class="fw-bold">Для записи не мероприятие, пожалуйста, свяжитесь с нами по одному из следующих контактов:</p>
      <ul>
        <li><a class="bg-black rounded p-1" href="tel:+79999999999"><img src="https://github.com/user-attachments/assets/3293113e-a4e3-4c3b-9fa9-52d78198c197" width="19" height="19" alt="Телефон" /></a> +7 (999) 999-99-99</li>
        <li><a class="bg-black rounded p-1" href="https://t.me/devpraktika"><img src="https://github.com/user-attachments/assets/99b674a2-eb30-4d08-8422-c30c98b46d3d" width="19" height="19" alt="Telegram" /></a> Telegram</li>
        <li><a class="bg-black rounded p-1" href="https://max.ru/u/devpraktika"><img src="https://github.com/user-attachments/assets/8bdc9834-61e1-4720-b5fc-1837988a1adb" width="19" height="19" alt="Max" /></a> Max</li>
        <li><a class="bg-black rounded p-1" href="mailto:info@devpraktika.ru"><img src="https://github.com/user-attachments/assets/c9d2f276-defc-40fe-976d-32c8fcf83187" width="19" height="19" alt="E-mail" /></a> info@devpraktika.ru</li>
      </ul>
    {% endif %}
  </div>
</div>
