---
layout: default
---

{% assign workshop = site.workshops | where: "slug", page.workshop | first %}

<div class="row w-100">
  <div class="bg-white col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% if page.date < site.time %}
          <li class="breadcrumb-item"><a href="{% link archive/index.md %}">Архив</a></li>
        {% else %}
          <li class="breadcrumb-item"><a href="{% link schedule/index.md %}">Расписание</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ workshop.title }} {{ page.date | date: "%d.%m.%Y" }}</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row w-100">
  <div class="bg-white col-12">
    <h1>{{ workshop.title }}</h1>
    <p class="small">📅 {{ page.date | date: "%d.%m.%Y" }} ⏰ {{ page.date | date: "%H:%M" }}</p>
    {{ page.content | markdownify }}
    {% if page.date < site.time %}
      <p class="fs-3 text-end">Оценка: {% if page.mark %}{{ page.mark }}{% else %}?{% endif %}</p>
    {% else %}
    <p class="fs-3 text-end price">
      {% if event.price = 0 %}
        бесплатно
      {% else %}
        {{ event.price }}₽
      {% endif %}
    </p>
    <p>Запись на мероприятие.</p>
{% endif %}
  </div>
</div>
